<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="shortcut icon" href="../Images/logo.png" type="image/x-icon" />
  <script>
    if (window.innerWidth < 700) {
      // Load order1.css if device width is less than 700
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = '../css/newindex1.css'; // Path to order1.css
      document.head.appendChild(link);
    } else {
      // Load order.css if device width is 700 or more
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = '../css/newindex.css'; // Path to order.css
      document.head.appendChild(link);
    }
  </script>
  <style>
    @media only screen and (max-width: 500px) {
      .dissappear {
        display: none;
      }


    }

    @media only screen and (min-width: 501px) {
      .fixed-navbar {
        display: none;
      }

      .search-container {
        display: none;
      }

      .custom-alert-content {
        display: none;
      }
    }

    @media only screen and (min-width: 501px) {
      .burger-gif {
        display: none;
        /* Display the GIF when device width is less than 500px */
      }
    }

    @media only screen and (max-width: 500px) {
      .burger-gif {
        display: block;
        /* Display the GIF when device width is less than 500px */
      }
    }

    .nav1 {
      display: block;
      /* By default, show the nav */
    }

    @media only screen and (max-width: 500px) {

      /* Hide the nav when device width is less than 500px */
      .nav1 {
        display: none;
      }
    }


    /* .search-container {
  display: flex;
  align-items: center;
} */




    h2 {
      font-size: 1.5em;
    }

    ol {
      margin-left: 20px;
      /* Adjust indentation as needed */
    }
  </style>

</head>

<body>
  <div id="customAlert" class="custom-alert">
    <div class="custom-alert-content">
      <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
      <div>
        <!-- Image above the paragraph -->
        <img src="../Images/login-.gif" alt="Image Above Paragraph" style="width: 100px;">
        <!-- Paragraph -->
        <p>Please login to your account to continue...</p>
      </div class="custom-alert-inner">
      <br>
      <button onclick="redirectToLogin1()"
        style="background: transparent; padding:2%; border: 2px solid rgb(26, 65, 81); cursor: pointer; display: flex; align-items: center; justify-content: center; color: rgb(26, 65, 81); border-radius: 5px; width: 100%; margin-top: 10px;">
        <img src="../Images/enter.png" alt="Login Button Image" style="width: 20px;">
        LogIn
      </button>

    </div>
  </div>




  <div class="maincontainer">





    <div class="innercontainer">
      <div class="dissappear">
        <input type="checkbox" name="checkbox" id="checkbox" />
        <div id="bar" class="bar">
          <div id="bar1"></div>
          <div id="bar2"></div>
          <div id="bar3"></div>
        </div>
      </div>
      <div class="nav">

        <div id="cart-sts" style="background-color: rgb(26, 65, 81);" width="50px" height="50px">
          <h3 id="count"></h3>
        </div>
        <img src="../Images/service-cart.png" alt="no_img" id="cart" width="7%" />
        <img src="../Images/logo.png" alt="no_img" id="logo2" width="10%" />
        <span id="lgospn">FoodCourt</span>
        <nav class="nav1">
          <img src="../Images/logo.png" alt="no_img" id="logo" />
          <span>FoodCourt</span>

          <a href="#" id="im3"><img src="../Images/profilelogo.png" onclick="redirectToProfile()" alt="no_img"
              width="80%" /></a>
          <a href="#fooditems-display">Order</a>
          <a href="#contact">Contact</a>
          <a href="/Order">Cart</a>
          <!-- <a href="/sample">sample</a> -->
          <a href="#" id="loginsts" onclick="redirectToLogin()"></a>
          <a href="#" id="im2"><img src="../Images/profilelogo.png" onclick="redirectToProfile()" alt="no_img"
              width="80%" /></a>
        </nav>
      </div>
      <aside class="asi">
        <a href="https://www.instagram.com/miteedu/" class="i i1"><img src="../Images/aside/instagram.png" alt="no_img"
            id="lg1" /></a>
        <a href="https://youtube.com/@MITEEdu" class="i i2"><img src="../Images/aside/youtube.png" alt="no_img"
            id="lg2" /></a>
        <a href="https://www.linkedin.com/company/miteedu/" class="i i3"><img src="../Images/aside/linkedin.png"
            alt="no_img" id="lg3" /></a>
      </aside>
    </div>


    <!-- Fixed Navbar -->
    <div class="fixed-navbar">
      <nav>
        <a href="#content-container">
          <img src="../Images/choices.png" alt="Order" />
          <span>Order</span>
        </a>
        <a href="#contact">
          <img src="../Images//contact-mail.png" alt="Contact" />
          <span>Contact</span>
        </a>
        <!-- <a href="#searchInput" >
          <img src="../Images/I_search.png" alt="Search" />
          <span>Search</span>
      </a> -->
        <a href="./Order">

          <img src="../Images/service-cart.png" alt="Search" />

          <span>Cart</span>
        </a>
        <a href="#" onclick="redirectToProfile()">
          <img src="../Images/user.png" alt="Profile" />
          <span>Profile</span>
        </a>

      </nav>
    </div>

    <div class="innercontainer2">
      <h1>Food Court</h1>
      <p>We Serve With Love and Care!</p>
      <img class="burger-gif" src="../Images/burger.gif" alt="Your GIF" />
    </div>

    <div class="innercontainer3">
      <div class="s s1">
        <img src="../Images/signup.png" alt="no_img" height="90%" />
      </div>
      <div class="s s2">
        <img src="../Images/foodmain1.jpg" alt="no_img" height="90%" />
      </div>
      <div class="s s3">
        <img src="../Images/golibaje1.webp" alt="no_img" height="90%" />
      </div>
    </div>
  </div>

  <!-- ***************************Content part************************************* -->

  <div class="content-container" id="content-container">
    


    <div class="menu">


      <h2 id="category">Categories:
        <span>
          <img id="down-arrow" src="../Images/icons8-expand-arrow-32.png" width="15vw" alt="no_img"
            onclick="openfilter('menu-list','down-arrow','up-arrow')">
          <img id="up-arrow" src="../Images/icons8-up-arrow-25.png" alt="no_img" width="15vw"
            onclick="closefilter('menu-list','down-arrow','up-arrow')">
        </span>
      </h2>
      <ul id="menu-list">
        <li id="Food" class="fooditem-list" onclick="category('Food',this)">All</li>

      </ul>

      <h2 id="foodtype">Veg/Non-Veg:<span>
          <img id="down-arrow2" width="15vw" src="../Images/icons8-expand-arrow-32.png" alt="no_img"
            onclick="openfilter('veg-nonveg-category','down-arrow2','up-arrow2')">
          <img id="up-arrow2" width="15vw" src="../Images/icons8-up-arrow-25.png" alt="no_img"
            onclick="closefilter('veg-nonveg-category','down-arrow2','up-arrow2')"></span></h2>
      <ul id="veg-nonveg-category">
        <li id="veg" class="veg-nonveg" onclick="toggleCategory('veg',this)">veg</li>
        <li id="nonveg" class="veg-nonveg" onclick="toggleCategory('nonveg', this)">nonveg</li>
      </ul>

      <!-- <button id="movetocart"><a href="../Html/Order.html">Go To Cart</a></button> -->
    </div>
    <h2 id="for-mobile-interface">Highest ordered food item: </h2>
    <div class="scroll-container">

      <div class="content" id="content">

        <!-- <div class="heighest-ordered-food-item">
                

            </div> -->

      </div>
    </div>

    <div class="search-container">

      <input type="text" id="searchInput" class="searchInput" placeholder="Search your food.."
        onkeydown="handleKeyPress(event)">
      <button class="search-button" onclick="searchFunction()">
        <img src="../Images/searching.png" alt="Search" style="opacity: .8;">
      </button>


    </div>

    <h2 id="for-mobile-interface">Food Item List :</h2>
    <div class="fooditems-display" id="fooditems-display">



    </div>
    <div id="notification" class="notification">
      <span id="notificationText"></span>
    </div>
    <div class="right-end-content">
      <h2>Highest ordered food item:</h2>
      <div class="food-item-content" id="content">


      </div>


    </div>
  </div>

  <!-- ******************************************************************************************** -->
  <footer class="foot" id="contact">
    <img src="../Images/logo.png" alt="no_img" height="20%">
    <span>FoodCourt</span>
    <hr color="grey">
    <br><br>
    <div class="mainfooter">
      <div class="subfoot">
        <h2>Address :</h2>
        <br>
        <p> MITEFood <br> Moodabidre <br>
          Phone: 9087654321 <br>
          <a href="mailto:mitefood@gmail.com" target="_blank">mail:mitefood@gmail.com</a>
        </p>
        <br>
      </div>

      <!-- Terms and Conditions -->
      <div class="terms-section subfoot">
        <h2>Terms and Conditions</h2>
        <br>
        <ol>
          <li>Rule 1</li>
          <li>Rule 2</li>
          <li>Rule 3</li>
          <li>Rule 4</li>
        </ol>


      </div>
    </div>


  </footer>

  <br><br>
  <!-- Import Firebase App -->
  <script src="../js/windowcheck.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
  <!-- <script src="../js/disableinspect.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script> -->
  <script src="../js/connection_db.js"></script>
  <script src="../js/newindex.js"></script>
  <script>
    function redirectToLogin1() {
      if (window.innerWidth < 500) {
        window.location.href = '/loginmob';
      } else {
        window.location.href = '/login';
      }
    }

  </script>


</body>

</html>
