<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Authentication</title>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-firestore-compat.js"></script>
    <style>
        /* CSS styles here */
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        input[type="tel"],
        input[type="text"] {
            width: calc(100% - 10px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        button {
            width: calc(50% - 5px);
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: rgb(249, 249, 249);
            border: 2px solid rgb(26, 65, 81);
            color: rgb(26, 65, 81);
            cursor: pointer;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }

        button:hover {
            background-color: #e7ebef;
        }

        /* Hide OTP input field and verify button by default */
        #verificationcode,
        #verifyOTPBtn {
            display: none;
        }

        /* Popup styles */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
            z-index: 9999;
        }

        .popup img {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }
        @media only screen and (max-width: 600px) {
            .container {
                max-width: 80%;
            }
            #recaptcha-container {
        margin-bottom: 20px; /* Add some space below reCAPTCHA on mobile */
    }

    .g-recaptcha {
        transform: scale(0.8)
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <h2>Phone Authentication</h2>
        <input type="tel" id="number" placeholder="Enter your phone number +911234567890" >
        <div id="recaptcha-container"></div>
        <button id="sendOTPBtn" onclick="phoneAuth()"oninput="toggleButton()">
            <img src="../Images/message.gif" alt="Verify Icon" style="vertical-align: middle; width: 20px; height: 20px;">
            Send OTP</button>
        <input type="text" id="verificationcode" placeholder="Enter OTP">
        <button id="verifyOTPBtn" onclick="codeverify()">
            <img src="../Images/shield.gif" alt="Verify Icon" style="vertical-align: middle; width: 20px; height: 20px;">
            Verify OTP
        </button>
    </div>

    <div id="popup" class="popup" style="display: none;">
        <img src="../Images/verified.gif" alt="Success Icon">
        <p>OTP Verified</p>
    </div>

    <script>
        // Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyCwK0ichC-DJxoec0RFrAPsUMEPIwvQzE4",
            authDomain: "foodcourt-80fc0.firebaseapp.com",
            databaseURL: "https://foodcourt-80fc0-default-rtdb.firebaseio.com",
            projectId: "foodcourt-80fc0",
            storageBucket: "foodcourt-80fc0.appspot.com",
            messagingSenderId: "382207958425",
            appId: "1:382207958425:web:1d65a262f2cd79d168c708",
            measurementId: "G-F94HZSH65B"
        };
        const app = firebase.initializeApp(firebaseConfig);
        // render recaptcha verifier
        render();
        function render() {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
            recaptchaVerifier.render();
        }
        // function for send OTP
        function phoneAuth() {
            var number = document.getElementById('number').value;
            firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                console.log('OTP Sent');
                // Hide telephone input field, captcha, and send button
                document.getElementById('number').style.display = 'none';
                document.getElementById('recaptcha-container').style.display = 'none';
                document.getElementById('sendOTPBtn').style.display = 'none';
                // Display OTP input field and verify button
                document.getElementById('verificationcode').style.display = 'block';
                document.getElementById('verifyOTPBtn').style.display = 'block';
            }).catch(function (error) {
                // error in sending OTP
                alert(error.message);
            });
        }
        // function for OTP verify
        function codeverify() {
            var code = document.getElementById('verificationcode').value;
            coderesult.confirm(code).then(function () {
                console.log('OTP Verified');
                document.getElementById('popup').style.display = 'block';
                setTimeout(function () {
                    window.location.href = '/profile'; // Redirect after 2 seconds
                }, 2000);
                updatePhone();
            }).catch(function () {
                console.log('OTP Not correct');
            })
        }
        function toggleButton() {
            var numberInput = document.getElementById('number');
            var sendOTPBtn = document.getElementById('sendOTPBtn');
            if (numberInput.value.length > 12) {
                sendOTPBtn.style.display = 'block';
            } else {
                sendOTPBtn.style.display = 'none';
            }
        }
        // Update phone field in Firestore
        // Update phone field in Firestore
function updatePhone() {
    const email = localStorage.getItem('inputValue');
    const phoneNumber = document.getElementById("number").value;
    const db = firebase.firestore();
    const usersRef = db.collection("Users");
    
    // Update the phone field for the user with the matching email
    usersRef.where("Email", "==", email).get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
                console.log(doc.id, " => ", doc.data());
                const docRef = usersRef.doc(doc.id);
                
                // Update the Phone field with the entered phone number
                docRef.update({
                    Phone: phoneNumber
                })
                .then(() => {
                    console.log("Phone number updated successfully.");
                })
                .catch((error) => {
                    console.error("Error updating phone number: ", error);
                });
            });
        })
        .catch((error) => {
            console.log("Error getting documents: ", error);
        });
}

    </script>
</body>
</html>
